**/*.cfg
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.out
**/*~
**/*.cls
**/*.sty
IEEEtran.bst
**/*.kate-swp
**/*.pyc
venv
**/*.egg
**/*.egg-info
MANIFEST
pymitlm/pymitlm.py
build
dist
target

# unnaturalgrams
**/*.o
unnaturalgrams/copper-run
unnaturalgrams/copper.make
unnaturalgrams/copper_tests.c

# mitlm

**/*.lo
pymitlm/mitlm/Makefile
pymitlm/mitlm/Makefile.in
pymitlm/mitlm/aclocal.m4
pymitlm/mitlm/autom4te.cache
pymitlm/mitlm/compile
pymitlm/mitlm/config.guess
pymitlm/mitlm/config.log
pymitlm/mitlm/config.status
pymitlm/mitlm/config.sub
pymitlm/mitlm/configure
pymitlm/mitlm/depcomp
pymitlm/mitlm/estimate-ngram
pymitlm/mitlm/evaluate-ngram
pymitlm/mitlm/install-sh
pymitlm/mitlm/interpolate-ngram
pymitlm/mitlm/libmitlm.la
pymitlm/mitlm/libtool
pymitlm/mitlm/ltmain.sh
pymitlm/mitlm/missing
pymitlm/mitlm/src/.deps/
pymitlm/mitlm/.dirstamp
**/*.cpp~
**/*.h~
pymitlm/mitlm/.libs/
pymitlm/mitlm/INSTALL
pymitlm/mitlm/.deps/
